$default-layout-horizontal-spacer: 16px;
$default-layout-header-height: 16px;
.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
.content {
  width: var(--primary-width);
}
